<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Form</title>
</head>

<body>
  <main>
    <div class="form-section">
      <h1>Add a New Message</h1>
      <%- include("./errors.ejs") %>

        <form action="/new" method="POST">
          <label for="user">user-name:</label>
          <input type="text" id="user" name="messageUser">
          <label for="text">text:</label>
          <textarea id="text" name="messageText"></textarea>
          <button type="submit">Send Message!</button>
        </form>

    </div>

  </main>
</body>

</html>